h2 {
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
}
h4 {
  margin: 0;
}
table {
  margin: auto;
}
.qr_name {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
}
table tr td {
  padding: 10px;
}
