<h2>ngx-qrcode-styling</h2>
<h2>Author: DaiDH</h2>

<ngx-qrcode-styling
  #qrcode
  [template]="'default'"
  [data]="'Hà Nội, Việt Nam'"
  [width]="200"
  [height]="200"
  [margin]="3"
  [backgroundOptions]="{ color: '#fff0' }"
  [frameOptions]="{
    style: 'FE_020',
    height: 400,
    width: 325,
    x: 88,
    y: 410,
    background: '#ffffff',
    texts: [{
      textContent: 'Create 2022',
      fill: '#4d4d4d',
      x: '31%',
      y: '58%',
      fontSize: '15pt',
      fontFamily: 'cursive'
    },{
      textContent: 'Author: DaiDH',
      fill: '#4d4d4d',
      x: '29%',
      y: '90%',
      fontSize: '15pt',
      fontFamily: 'cursive'
    }]
  }"
  [dotsOptions]="{color: '#4a4a4a'}"
></ngx-qrcode-styling>

<br />
<br />

<button (click)="onUpdate(qrcode)">Update</button> |
<button (click)="onDownload(qrcode)">Download</button>

<h2><a href="https://github.com/id1945/ngx-qrcode-styling/wiki" target="_blank">Rules for QRCodes</a></h2>

<app-template></app-template>
<app-frames></app-frames>
<app-frame-edit></app-frame-edit>

<!-- license -->
<p class="center"><a href="https://github.com/id1945/ngx-scanner-face/blob/master/LICENSE">Beerware License</a></p>

<!-- copyright -->
<p class="center">Copyright (c) 2021 DaiDH</p>
