<h2>Templates</h2>

<table>
  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'default'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
        [qrOptions]="{ errorCorrectionLevel: 'L' }"
      ></ngx-qrcode-styling>
      <div class="qr_name">default</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'ocean'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
        [qrOptions]="{ errorCorrectionLevel: 'L' }"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">ocean</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'sunflower'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
        [qrOptions]="{ errorCorrectionLevel: 'L' }"
      ></ngx-qrcode-styling>
      <div class="qr_name">sunflower</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'luxury'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
        [qrOptions]="{ errorCorrectionLevel: 'L' }"
      ></ngx-qrcode-styling>
      <div class="qr_name">luxury</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'bitcoin'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
        [image]="
          'https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/50px-Bitcoin.svg.png'
        "
      >
      </ngx-qrcode-styling>
      <div class="qr_name">bitcoin</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'starbucks'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
        [image]="
          'https://upload.wikimedia.org/wikipedia/en/d/d3/Starbucks_Corporation_Logo_2011.svg'
        "
      >
      </ngx-qrcode-styling>
      <div class="qr_name">starbucks</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'angular'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
        [image]="
          'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=='
        "
      >
      </ngx-qrcode-styling>
      <div class="qr_name">angular</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'facebook'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
        [image]="
          'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Facebook_circle_pictogram.svg/512px-Facebook_circle_pictogram.svg.png'
        "
      >
      </ngx-qrcode-styling>
      <div class="qr_name">facebook</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'beans'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">beans</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'green'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
      ></ngx-qrcode-styling>
      <div class="qr_name">green</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'sky'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
      ></ngx-qrcode-styling>
      <div class="qr_name">sky</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'mosaic'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">mosaic</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'jungle'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
      ></ngx-qrcode-styling>
      <div class="qr_name">jungle</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'arabic'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
      ></ngx-qrcode-styling>
      <div class="qr_name">arabic</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'tea'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
      ></ngx-qrcode-styling>
      <div class="qr_name">tea</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'grape'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
      ></ngx-qrcode-styling>
      <div class="qr_name">grape</div>
    </td>
  </tr> 

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'coffee'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
      ></ngx-qrcode-styling>
      <div class="qr_name">coffee</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'chess'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
      ></ngx-qrcode-styling>
      <div class="qr_name">chess</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'vintage'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
      ></ngx-qrcode-styling>
      <div class="qr_name">vintage</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'stamp'"
        [data]="'ngx-qrcode-styling'"
        [width]="200"
        [height]="200"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">stamp</div>
    </td>
  </tr>
</table>