<h2>Frames</h2>

<table class="frame">
  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'ocean'"
        [data]="'ngx-qrcode-styling'"
        [width]="285"
        [height]="285"
        [frameOptions]="{
          style: 'F_021',
          height: 200,
          width: 200,
          x: 60,
          y: 60
        }"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_021</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'sunflower'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_022',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_022</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'luxury'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_023',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_023</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'bitcoin'"
        [data]="'15p2qMsL5jU6ZvZNTEbcTs8SRAN3v9dHRo'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_024',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
        [image]="
          'https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/50px-Bitcoin.svg.png'
        "
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_024</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'starbucks'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_025',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
        [image]="
          'https://upload.wikimedia.org/wikipedia/en/d/d3/Starbucks_Corporation_Logo_2011.svg'
        "
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_025</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'angular'"
        [data]="'ngx-qrcode-styling'"
        [width]="270"
        [height]="270"
        [frameOptions]="{
          style: 'F_026',
          height: 200,
          width: 200,
          x: 70,
          y: 70
        }"
        [image]="
          'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=='
        "
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_026</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'angular'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_027',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
        [image]="
          'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=='
        "
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_027</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'vintage'"
        [data]="'ngx-qrcode-styling'"
        [width]="270"
        [height]="270"
        [shape]="'circle'"
        [backgroundOptions]="{ color: '#fff0' }"
        [frameOptions]="{
          style: 'F_028',
          height: 200,
          width: 200,
          x: 65,
          y: 70
        }"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_028</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'green'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_029',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_029</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'sky'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_030',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_030</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'mosaic'"
        [data]="'ngx-qrcode-styling'"
        [width]="290"
        [height]="290"
        [frameOptions]="{
          style: 'F_031',
          height: 200,
          width: 200,
          x: 55,
          y: 60
        }"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_031</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'sky'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_032',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_032</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'vintage'"
        [data]="'ngx-qrcode-styling'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="290"
        [height]="290"
        [frameOptions]="{
          style: 'F_033',
          height: 200,
          width: 200,
          x: 57,
          y: 59
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_033</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'luxury'"
        [data]="'ngx-qrcode-styling'"
        [width]="280"
        [height]="280"
        [frameOptions]="{
          style: 'F_034',
          height: 200,
          width: 200,
          x: 60,
          y: 60
        }"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_034</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'sunflower'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_035',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_035</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'beans'"
        [data]="'ngx-qrcode-styling'"
        [width]="285"
        [height]="285"
        [frameOptions]="{
          style: 'F_036',
          height: 200,
          width: 200,
          x: 60,
          y: 60
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_036</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'angular'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [shape]="'circle'"
        [frameOptions]="{
          style: 'F_037',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_037</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'sunflower'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_038',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_038</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'luxury'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_039',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_039</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'bitcoin'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_040',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_040</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'angular'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [shape]="'circle'"
        [backgroundOptions]="{ color: '#fff0' }"
        [frameOptions]="{
          style: 'F_041',
          height: 200,
          width: 200,
          x: 45,
          y: 50
        }"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_041</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'luxury'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_042',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_042</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'facebook'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_043',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_043</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'beans'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_044',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_044</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'green'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_045',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_045</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'sky'"
        [data]="'ngx-qrcode-styling'"
        [width]="330"
        [height]="330"
        [shape]="'circle'"
        [backgroundOptions]="{ color: '#fff0' }"
        [frameOptions]="{
          style: 'F_046',
          height: 200,
          width: 200,
          x: 37,
          y: 37
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_046</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'mosaic'"
        [data]="'ngx-qrcode-styling'"
        [width]="290"
        [height]="290"
        [backgroundOptions]="{ color: '#fff0' }"
        [frameOptions]="{
          style: 'F_047',
          height: 200,
          width: 200,
          x: 60,
          y: 60
        }"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_047</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'coffee'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_048',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_048</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'beans'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_049',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_049</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'sunflower'"
        [data]="'ngx-qrcode-styling'"
        [width]="330"
        [height]="330"
        [frameOptions]="{
          style: 'F_050',
          height: 200,
          width: 200,
          x: 35,
          y: 35
        }"
      >
      </ngx-qrcode-styling>
      <div class="qr_name">F_050</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'vintage'"
        [data]="'ngx-qrcode-styling'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_051',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_051</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'luxury'"
        [data]="'ngx-qrcode-styling'"
        [width]="290"
        [height]="290"
        [frameOptions]="{
          style: 'F_052',
          height: 200,
          width: 200,
          x: 55,
          y: 55
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_052</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'vintage'"
        [data]="'ngx-qrcode-styling'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_053',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_053</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'ocean'"
        [data]="'ngx-qrcode-styling'"
        [width]="250"
        [height]="250"
        [frameOptions]="{
          style: 'F_054',
          height: 200,
          width: 200,
          x: 70,
          y: 75
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_054</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'facebook'"
        [data]="'ngx-qrcode-styling'"
        [width]="270"
        [height]="270"
        [frameOptions]="{
          style: 'F_055',
          height: 200,
          width: 200,
          x: 65,
          y: 65
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_055</div>
    </td>

    <td>
    <ngx-qrcode-styling
        [template]="'angular'"
        [data]="'ngx-qrcode-styling'"
        [shape]="'circle'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="240"
        [height]="240"
        [frameOptions]="{
          style: 'F_056',
          height: 200,
          width: 200,
          x: 80,
          y: 90
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_056</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'mosaic'"
        [data]="'ngx-qrcode-styling'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="250"
        [height]="250"
        [frameOptions]="{
          style: 'F_057',
          height: 200,
          width: 200,
          x: 70,
          y: 77
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_057</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'green'"
        [data]="'ngx-qrcode-styling'"
        [shape]="'circle'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="250"
        [height]="250"
        [frameOptions]="{
          style: 'F_058',
          height: 200,
          width: 200,
          x: 70,
          y: 77
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_058</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'mosaic'"
        [data]="'ngx-qrcode-styling'"
        [shape]="'circle'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="280"
        [height]="280"
        [frameOptions]="{
          style: 'F_059',
          height: 200,
          width: 200,
          x: 60,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_059</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'mosaic'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_060',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_060</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'luxury'"
        [data]="'ngx-qrcode-styling'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="240"
        [height]="240"
        [frameOptions]="{
          style: 'F_061',
          height: 200,
          width: 200,
          x: 80,
          y: 70
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_061</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'ocean'"
        [data]="'ngx-qrcode-styling'"
        [shape]="'circle'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_062',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_062</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'sunflower'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_063',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_063</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'luxury'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_064',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_064</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'luxury'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_065',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_065</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'angular'"
        [data]="'ngx-qrcode-styling'"
        [width]="290"
        [height]="290"
        [frameOptions]="{
          style: 'F_066',
          height: 200,
          width: 200,
          x: 55,
          y: 55
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_066</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'angular'"
        [data]="'ngx-qrcode-styling'"
        [width]="290"
        [height]="290"
        [frameOptions]="{
          style: 'F_067',
          height: 200,
          width: 200,
          x: 55,
          y: 55
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_067</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'chess'"
        [data]="'ngx-qrcode-styling'"
        [width]="330"
        [height]="330"
        [frameOptions]="{
          style: 'F_068',
          height: 200,
          width: 200,
          x: 37,
          y: 37
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_068</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'angular'"
        [data]="'ngx-qrcode-styling'"
        [shape]="'circle'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_069',
          height: 200,
          width: 200,
          x: 50,
          y: 45
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_069</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'luxury'"
        [data]="'ngx-qrcode-styling'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="280"
        [height]="280"
        [frameOptions]="{
          style: 'F_070',
          height: 200,
          width: 200,
          x: 50,
          y: 70
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_070</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'facebook'"
        [data]="'ngx-qrcode-styling'"
        [shape]="'circle'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="270"
        [height]="270"
        [frameOptions]="{
          style: 'F_071',
          height: 200,
          width: 200,
          x: 65,
          y: 65
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_071</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'angular'"
        [data]="'ngx-qrcode-styling'"
        [shape]="'circle'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_072',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_072</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'ocean'"
        [data]="'ngx-qrcode-styling'"
        [shape]="'circle'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="280"
        [height]="280"
        [frameOptions]="{
          style: 'F_073',
          height: 200,
          width: 200,
          x: 60,
          y: 65
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_073</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'facebook'"
        [data]="'ngx-qrcode-styling'"
        [shape]="'circle'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="270"
        [height]="270"
        [frameOptions]="{
          style: 'F_074',
          height: 200,
          width: 200,
          x: 50,
          y: 55
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_074</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'bitcoin'"
        [data]="'ngx-qrcode-styling'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="220"
        [height]="220"
        [frameOptions]="{
          style: 'F_075',
          height: 200,
          width: 200,
          x: 90,
          y: 120
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_075</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'angular'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_076',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_076</div>
    </td>
  </tr>

  <tr>
    <td>
      <ngx-qrcode-styling
        [template]="'angular'"
        [data]="'ngx-qrcode-styling'"
        [shape]="'circle'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="250"
        [height]="250"
        [frameOptions]="{
          style: 'F_077',
          height: 200,
          width: 200,
          x: 80,
          y: 70
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_077</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'sky'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_078',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_078</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'luxury'"
        [data]="'ngx-qrcode-styling'"
        [backgroundOptions]="{ color: '#fff0' }"
        [width]="300"
        [height]="300"
        [frameOptions]="{
          style: 'F_079',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_079</div>
    </td>

    <td>
      <ngx-qrcode-styling
        [template]="'sunflower'"
        [data]="'ngx-qrcode-styling'"
        [width]="300"
        [height]="300"
        [margin]="10"
        [frameOptions]="{
          style: 'F_080',
          height: 200,
          width: 200,
          x: 50,
          y: 50
        }"
      ></ngx-qrcode-styling>
      <div class="qr_name">F_080</div>
    </td>
  </tr>
</table>